#heading{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    font-size: xx-large;
}
.paragraph{
    background-color: bisque;
    font-size: larger;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p2{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: larger;
}
.p3{
    background-color: blueviolet;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}